[Desktop Entry]
Name=HTYLogin
Comment=
Exec=/media/sonichy/job/HY/Linux/Qt/HTYLogin/HTYLogin
Icon=/media/sonichy/job/HY/Linux/Qt/HTYLogin/icon.png
Path=/media/sonichy/job/HY/Linux/Qt/HTYLogin
Terminal=false
Type=Application
MimeType=
Categories=